/*form-group shiny-input-checkboxgroup shiny-input-container shiny-input-container-inline*/

@import url("//fonts.googleapis.com/css?family=Quattrocento+Sans:bold,regular,bolditalic|PT+Mono");

body {
  font-family: 'PT Mono', 'Arial', Sans-serif;
  font-weight: normal;
  background-color: white;
}

h2 {
  font-family: 'Quattrocento Sans', 'Arial', Sans-serif;
  font-weight: bold;
  line-height: 1.1;
  color: #27c93a;
}

h5 {
  font-family: 'Quattrocento Sans', 'Arial', Sans-serif;
  font-weight: bold;
  line-height: 0.25;
}

.help-block {
  font-family: 'Quattrocento Sans', 'Arial', Sans-serif;
  font-style: italic;
}

.topmar {
  margin-top: 20px;
}

.well {
  background-color: #f0f0f0;
}

.tabbable > .nav > li > a { 
  background-color: #e8e8e8;
  color: #999999
}

.tabbable > .nav > li[class=active] > a {
  background-color: #f0f0f0;
  color: #27c93a
}

.nav-tabs {
  font-family: 'Quattrocento Sans', 'Arial', Sans-serif;
  font-weight: bold;
  font-size: medium
}

.form-group {
  margin-bottom: 20px;
}

.checkbox-inline { 
  margin-left: 0px;
  margin-right: 10px;
}

.checkbox-inline+.checkbox-inline {
  margin-left: 0px;
  margin-right: 10px;
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.multicol { 
  height: 100%;
  margin-bottom: 20px;
  -webkit-column-count: 5; /* Chrome, Safari, Opera */ 
  -moz-column-count: 5;    /* Firefox */ 
  column-count: 5; 
  -moz-column-fill: auto;
  -column-fill: auto;
} 
